@model List<Product>


<table class="highlight">
    <thead>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prix
        </th>
        <th>
            Description
        </th>
        th
    </tr>
    </thead>
</table>
